@import "tailwindcss";

:root {
  --primary: hsl(10, 68%, 53%);
  --primary-foreground: hsl(100, 9%, 93%);
  --secondary: hsl(100, 9%, 93%);
  --background: hsl(100, 9%, 93%);
  --background-secondary: hsl(240 5.9% 10%);
  --foreground: hsl(240 10% 3.9%);
  --foreground-secondary: hsl(100, 9%, 93%);
  --muted: hsl(240 4.9% 83.9%);
  --muted-foreground: hsl(240 5.3% 26.1%);
  --active: hsl(142.8 64.2% 24.1%);
  --active-foreground: hsl(138.5 76.5% 96.7%);
  --destructive: hsl(0 70% 35.3%);
  --destructive-foreground: hsl(0 85.7% 97.3%);
  --black: hsl(240 10% 3.9%);
  --white: hsl(100, 9%, 93%);
  --stroke: hsl(240 10% 3.9%);
  --menu: hsl(33, 35%, 94%);
  --menu-food: hsl(240, 85%, 44%);
  --menu-lunch: hsl(130, 70%, 33%);
  --menu-beverages: hsl(0, 35%, 20%);
  --menu-desserts: hsl(335, 67%, 34%);
  --ubereats: hsl(135, 51%, 50%);
  --ubereats-foreground: hsl(197, 29%, 12%);
  --menulog: hsl(30, 100%, 50%);
  --menulog-foreground: hsl(100, 9%, 93%);
}

@theme inline {
  /* Color theme */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-active: var(--active);
  --color-active-foreground: var(--active-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);  
  --color-black: var(--black);
  --color-white: var(--white);
  --color-stroke: var(--stroke);
  --color-menu: var(--menu);
  --color-menu-food: var(--menu-food);
  --color-menu-lunch: var(--menu-lunch);
  --color-menu-beverages: var(--menu-beverages);
  --color-menu-desserts: var(--menu-desserts);
  --color-ubereats: var(--ubereats);
  --color-ubereats-foreground: var(--ubereats-foreground);
  --color-menulog: var(--menulog);
  --color-menulog-foreground: var(--menulog-foreground);
}

@layer base {
  body {
    @apply bg-background;
  }
}
