@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  /* border: 1px solid black; */
}

input,
textarea {
  background-color: #eeeeee;
  padding: 8px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Dark color theme
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
